<section class="col-md-12">
    <!-- the #form is a local variable  that contains all the value for the angular2 form. So we are binding the ngForm to the
     local variable form which we can pass to the onSubmit method-->
    <form (ngSubmit)="onSubmit(form.value)" #form ="ngForm">
        <div class="form-group" >
            <label for="content">Content</label>
            <!-- Input is a local variable of this html code, will pass this input to the component to use in the constructor -->
            <input ngControl="content" type="text" class="form-control" id="content" #input>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
</section>